.form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-admin,
.form-login {
  @include form;
  width: 100%;
  align-items: center;
  // background: red;
}

.form-field {
  width: 50%;
  margin: 1em 0 0.5em 0;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field textarea {
  width: 100%;
  display: block;
  margin: 0.5em 0;
  padding: 1em;
  border: none;
}

#project-title {
  padding: 0.75em;
}

.file-image-preview {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  img {
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      cursor: pointer;
    }
    align-self: flex-start;
    max-height: 100px;
    margin: 0.5em;
    background: #fff;
    border: 1px solid #fff;
  }
}

.btn {
  @include button;
  margin: 0 0.5em;
}

.form-file {
  @include button;
  &:hover {
    cursor: pointer;
  }
    input[type="file"] {
      display: none;
    }
}

.form-file-clear {
  @include button;
  margin-left: 1em;
}

.form-submit {
  display:flex;
  justify-content: center;
}

.form-submit-btn {
  @include button;
  padding: 5px 0;
  width: 50%;
}

.alert-container {
  padding: 0.65em;
  margin: 0.5em 0;
  border-radius: 5px;
  font-size: 0.95em;
  text-align: center;
}
.alert-success {
  background: rgb(36, 122, 36);
}
.alert-failure {
  background: rgb(119, 42, 42);
}