footer {
  width: 100%;
  height: auto;
  background: transparent;
  color: $lt-gray;
  padding: 1em;
  text-align: center;
  flex-shrink: 0;
  margin-top: 20px;
}

.footer-list {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.footer-item {
  margin: 0 1em;
  border: none;
  padding: 0.5em;
}

.footer-link {
  display: block;
  padding: 0;
  color: $md-gray;
  text-decoration: none;
  border-bottom: 1px solid $md-gray;
}

footer p {
  font-size: 12px;
}

@include for-desktop-up {
  footer {
    height: auto;
    margin-top: 0;
  }
  .footer-list {
    display: none;
  }
}