header {
  width: 100%;
  transition: box-shadow 0.2s linear;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
}
.header-solid {
  background: $dk-black;
}
.header-transparent {
  background: transparent;
}
.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  height: 60px;
}

.header-logo-container > a {
  display: block;
  height: 35px;
}

.header-logo {
  height: 100%;
}

.header-burger {
  min-height: 42px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 5px;
  &:active {
    background: $md-black;
  }
}

.header-burger-open {
  background: $beige;
  .fa-bars {
    color: $dk-black;
  }
  &:active {
    background: $md-black;
    .fa-bars {
      color: $md-gray;
    }
  }
}

.fa-bars {
  color: $beige;
  font-size: 2.5em;
}

.nav {
  box-shadow: 0 20px 16px -12px #000;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-item {
  margin: 0;
  text-align: right;
  border-top: 2px solid $md-black;
}

.nav-link {
  display: block;
  padding: 0.75em 5%;
  text-decoration: none;
  color: $beige;
  &:active {
    background: $md-black;
  }
}

.nav-link > img {
  max-height: 26px; // same as image heights
}

@include for-tablet-portrait-up {
  .header-title {
    padding: 2% 8.2%;
  }

  .nav-item {
    padding: 0 3.5%;
  }
}

@include for-desktop-up {
  header {
    // height: 238px;
    // height: 35%;
    height: 200px;
  }
  .header-title {
    display: block;
    padding: 0;
    padding-left: 21px;
    height: auto;
  }
  .header-container {
    // width: 82.5%;
    width: 92.5%;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
  }

  .header-logo-container > a {
    height: 50px;
  }

  .header-container-border {
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -90px;
      width: 100%;
      // border-top: 12px solid $md-gray;
      border-top: 12px solid $beige;
      border-radius: 50%;
      padding-bottom: 1em;
      opacity: 1;
      transition: 0.3s ease;
    }
  }
  .header-container-border-hidden {
    &:before {
      opacity: 0;
    }
  }
  .header-burger {
    display: none;
  }

  .nav {
    box-shadow: none;
    display: block !important; // to overwrite conditional render from vue on desktop
    padding-right: 15px;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-item {
    margin: 0 3em;
    border: none;
    padding: 0;
    height: 25px;
  }

  .nav-item:last-child {
    margin-right: 6px;
  }

  .nav-link {
    display: inline-block;
    height: 100%;
    padding: 0;
    filter: blur(0);
    transition: filter 0.2s;
    &:hover {
    filter: blur(4px);
    }
    &:active {
      background: transparent;
    }
  }

  .header-scroll-active {
    box-shadow: 0 0 100px #000;
  }
  .router-link-exact-active {
    // color: #fff;
    // filter: brightness(1);
    // border-bottom: 1px solid #fff;
    filter: blur(4px);
    // height: 45px;
  }
}

@include for-large-desktop-up {
  header {
    // padding: 0;
    height: 238px;
  }

  .header-container-border {
    &::before {
      bottom: -109px;
    }
  }
}