.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  background: $dk-black;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  overflow: auto;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-open {
  overflow: hidden;
}

// modal content styles

.modal-header {
  padding: 10px 1em;
  // border-bottom: 1px solid $md-gray;
  box-shadow: 0 1px 20px #000;
  background: $dk-black;
  color: #fff;
  z-index: 100;
  width: 100%;
  // height: 80px;
  min-height: 80px;
  height: auto;
  //mobile
  display: flex;
  align-items: center;
  position: fixed;
  pointer-events: none;
}

.modal-header-title {
  text-align: left;
  order: 1;
  padding-left: 1em;
}
.modal-header-title h2 {
  font-size: 1.5em;
}
.modal-header-title p {
  font-size: .95em;
  padding-top: 5px;
  padding-right: 1em;
}
.modal-header-close {
  order: 0;
  font-size: 2em;
  padding-right: 10px;
  pointer-events: auto;
}

.modal-main-img {
  display: none;
}

.modal-img {
  display: block;
  width: 100%;
}

.modal-gallery {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 80px;
}

.modal-gallery-img {
  width: 100%;
  margin: 0.5em 0;
}
.modal-gallery-img:first-child {
  margin-top: 0;
}
.modal-gallery-img:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.chev {
  display: none;
}

.icon-times {
  display: none;
}

@include for-tablet-portrait-up {
  .icon-left {
    display: none;
  }


  .modal-container {
    // width: 85%;
    height: auto;
    padding: 1em;
    // new
    max-height: 95vh;
    // max-width: 80%;
    width: 500px;
  }

  .modal-open {
    overflow: visible;
  }

  .modal-header {
    padding: 0;
    padding-bottom: 1em;
    border: none;
    position: relative;
    width: auto;
    height: auto;
    background: $dk-black;
    display: block;
    align-items: normal;
    pointer-events: auto;
    box-shadow: none;
  }
  .modal-header-title {
    text-align: center;
    padding-left: 0;
  }
  .modal-header-title h2 {
    font-size: 1.7em;
  }
  .modal-header-title p {
    font-size: .95em;
    padding: 5px 10px 0 10px;
  }
  .modal-header-close {
    position: absolute;
    right: 0;
    top: -10px;
    padding-right: 0;
    font-size: 1.5em;
    &:hover {
      cursor: pointer;
    }
  }

  .modal-main-img {
    display: block;
    //new
    position: relative;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .modal-gallery {
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .modal-gallery-img {
    // width: 25%;
    width: auto;
    margin: 0 0.25em;
    margin-top: 1em;
    filter: brightness(0.5);
    transition: filter 0.2s linear;
  }
  .modal-gallery-img:first-child {
    margin-top: 1em;
    margin-left: 0;
  }
  .modal-gallery-img:last-child {
    margin-right: 0;
    padding-bottom: 0;
  }
  .modal-gallery-img:hover {
    cursor: pointer;
  }
  .modal-gallery-img-active {
    filter: brightness(1);
  }

  // new
  .modal-gallery-img img {
    max-height: 100px;
    width: auto;
  }

  // chevrons
  .chev {
    display: block;
    position: absolute;
    font-size: 2.5em;
    cursor: pointer;
    color: $md-black;
    top: 50%;
    opacity: 0.85;
  }
  .chev-circle {
    color: white;
    font-size: 0.75em;
  }
  .chev-left {
    left: 5px;
    &:active {
      transform: translateX(-1px);
    }
  }
  .chev-right {
    right: 5px;
    &:active {
      transform: translateX(1px);
    }
  }
}

@include for-tablet-landscape-up {
  .modal-container {
    max-width: 50%;
  }
}

@include for-desktop-up {
  .modal-container {
    width: 430px;
    max-width: none;
    overflow-x: hidden;
  }
  .modal-main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .icon-times {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
  }

  // new
  .modal-main-img a {
    width: auto;
    height: 100%;
  }
  // wtf is this flex: 0 0 for
  // breaks smaller images
  .modal-main-img .modal-img {
    // flex: 0 0;
    flex: 1 0;
    width: 100%;
    height: 100%;
  }

  // new
  .modal-gallery-img {
    width: auto;
  }
  .modal-gallery-img img {
    max-height: 90px;
    width: auto;
  }
}

@include for-large-desktop-up {
  .modal-container {
    width: 535px;
  }
  .modal-main-img {
    height: 500px;
  }
}