.portfolio-container {
  display: flex;
  flex-flow: column nowrap;
}

.portfolio-item {
  margin: 2%;
}

.portfolio-img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid $md-black;
  box-shadow: 0 0 5px $dk-black;
}

@include for-tablet-portrait-up {
  main {
    margin-top: 3.5em;
  }
  .portfolio-container {
    flex-flow: row wrap;
  }
  .portfolio-item {
    width: 48%;
    margin: 1%;
  }
}

@include for-desktop-up {
  main {
    margin-top: 5.4em;
  }
  main .portfolio-container {
    margin-top: 0.2em;
  }
  .portfolio-item {
    width: 30%;
    margin: 1.66%;
  }
  .portfolio-img {
    opacity: 0;
    transition: transform 0.2s linear, opacity 2s ease;
  }
  .portfolio-img:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  .portfolio-img-fadein {
    opacity: 1;
  }
}