.portfolio-container {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;
  margin-bottom: 1em;
}

.items-container {
  display: flex;
  flex-flow: row wrap;
}

.buttons-container {
  align-self: center;
}

// .buttons-container > .btn {
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   padding: 5px 100px;
//   font-size: 12px;
//   border-radius: 0;
//   color: $beige;
//   border: 2px solid $beige;
// }

.portfolio-item {
  // width: 45%;
  margin: 2.5%;
  position: relative;
  border-radius: 4px;
  transition: background-color 0.3s linear;
}

.item-bg-fadein {
  background-color: $beige;
}

.portfolio-img {
  width: 100%;
  border-radius: 3px;
  // border: 1px solid $md-black;
  box-shadow: 0 0 5px $dk-black;
  display: block;
}

.portfolio-img {
  opacity: 0;
  transition: opacity .5s ease-in;
}
.portfolio-img-fadein {
  opacity: 1;
}

@include for-tablet-portrait-up {
  .portfolio-item {
    // width: 30%;
    // margin: 1.66%;
    width: 45%;
  margin: 2.5%;
  }
}

@include for-tablet-landscape-up {
  .portfolio-item {
    // width: 22%;
    // margin: 1.5%;
  }
}

@include for-desktop-up {
  .portfolio-container {
    // margin-top: 3em;
    // margin-top: 210px;
    margin-top: 170px;
  }

  .portfolio-item {
    width: 30%;
    margin: 1.66%;
  }

  .portfolio-img {
    transition: transform 0.2s linear, opacity .5s ease-in;
  }
  .portfolio-img:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}

@include for-large-desktop-up {
  .portfolio-container {
    margin-top: 210px;
  }

  .portfolio-item {
    // width: 18%; 4 items
    // margin: 1% 1%;
  }
}