@include for-desktop-up {
  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.2s;
    transition-property: height, opacity;
    transition-timing-function: linear;
    overflow: hidden;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
}